<div class="navbar bg-base-100">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl">La Librería Nacional</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal p-0">
        <li><a>Inventario</a></li>
        <li><a>Reportes</a></li>
        <li><a>Adquisiciones</a></li>
        <li><a>Transferencias</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn">Iniciar sesión</a>
    </div>
  </div>
  