<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Autor</th>
      <th>ISBN</th>
      <th>Editorial</th>
      <th>Año de Publicación</th>
      <th>Stock Total</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let libro of tablaArray">
      <td>{{libro.idLibro}}</td>
      <td>{{libro.titulo}}</td>
      <td>{{libro.autor}}</td>
      <td>{{libro.isbn}}</td>
      <td>{{libro.editorial}}</td>
      <td>{{libro.anioPublicacion}}</td>
      <td>{{libro.stockTotal}}</td>
      <td>{{libro.descripcion}}</td>
    </tr>
  </tbody>
</table>
