<!-- inicio.component.html -->
<div class="container mx-auto px-4">
  <section class="my-8">
    <h1 class="text-4xl font-bold text-center">Bienvenido a la Gestión de libros de la ¨Librería Nacional¨</h1>
    <p class="text-xl text-gray-600 text-center mt-4">
      Accede rápidamente a las herramientas necesarias para administrar el inventario, procesar transacciones y generar reportes.
    </p>
  </section>

  <section class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="flex flex-col justify-center items-center space-y-4">
      <img src="../../../assets/imagenes/LibreriaDesordenada.webp" alt="Inventario Actualizado" class="h-70 w-3/4 sm:w-1/2 md:w-2/3 lg:w-3/4">
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col justify-between h-full w-3/4 sm:w-1/2 md:w-2/3 lg:w-3/4 text-center">
        <h3 class="font-semibold text-lg">Inventario Actualizado</h3>
        <p>Consulta en tiempo real el estado actual del inventario en todas las sucursales.</p>
        <a href="#" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Ver Inventario</a>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center space-y-4">
      <img src="../../../assets/imagenes/Libreria-Moderna.webp" alt="Registrar Adquisiciones" class="h-70 w-3/4 sm:w-1/2 md:w-2/3 lg:w-3/4">
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col justify-between h-full w-3/4 sm:w-1/2 md:w-2/3 lg:w-3/4 text-center">
        <h3 class="font-semibold text-lg">Registrar Adquisiciones</h3>
        <p>Introduce nuevos libros al sistema y actualiza las existencias de forma rápida y precisa.</p>
        <a href="#" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Registrar Libros</a>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center space-y-4">
      <img src="../../../assets/imagenes/Personas-Lib.webp" alt="Transferencias" class="h-70 w-3/4 sm:w-1/2 md:w-2/3 lg:w-3/4">
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col justify-between h-full w-3/4 sm:w-1/2 md:w-2/3 lg:w-3/4 text-center">
        <h3 class="font-semibold text-lg">Transferencias</h3>
        <p>Gestiona la redistribución de libros entre sucursales para optimizar el stock disponible.</p>
        <a href="#" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Administrar Transferencias</a>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center space-y-4">
      <img src="../../../assets/imagenes/PersonasLibreria.webp" alt="Reportes Detallados" class="h-70 w-3/4 sm:w-1/2 md:w-2/3 lg:w-3/4">
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col justify-between h-full w-3/4 sm:w-1/2 md:w-2/3 lg:w-3/4 text-center">
        <h3 class="font-semibold text-lg">Reportes Detallados</h3>
        <p>Genera informes sobre ventas, movimientos de stock y más para análisis y toma de decisiones.</p>
        <a href="#" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Crear Reportes</a>
      </div>
    </div>
  </section>
</div>
