<!-- inicio.component.html -->
<div class="container mx-auto px-4">
  <section class="my-8">
    <h1 class="text-4xl font-bold text-center">¨Bienvenido a la Gestión de libros de la ¨Librería Nacional¨</h1>
    <p class="text-xl text-gray-600 text-center mt-4">
      Accede rápidamente a las herramientas necesarias para administrar el inventario, procesar transacciones y generar reportes.
    </p>
  </section>

  <section class="mt-10 grid grid-cols-1 md:grid-cols-4 gap-4">
    <div class="bg-white shadow-md rounded-lg p-6 flex flex-col justify-between h-full">
      <div>
        <h3 class="font-semibold text-lg">Inventario Actualizado</h3>
        <p>Consulta en tiempo real el estado actual del inventario en todas las sucursales.</p>
      </div>
      <a href="#" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 text-center">Ver Inventario</a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6 flex flex-col justify-between h-full">
      <div>
        <h3 class="font-semibold text-lg">Registrar Adquisiciones</h3>
        <p>Introduce nuevos libros al sistema y actualiza las existencias de forma rápida y precisa.</p>
      </div>
      <a href="#" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 text-center">Registrar Libros</a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6 flex flex-col justify-between h-full">
      <div>
        <h3 class="font-semibold text-lg">Transferencias</h3>
        <p>Gestiona la redistribución de libros entre sucursales para optimizar el stock disponible.</p>
      </div>
      <a href="#" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 text-center">Administrar Transferencias</a>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6 flex flex-col justify-between h-full">
      <div>
        <h3 class="font-semibold text-lg">Reportes Detallados</h3>
        <p>Genera informes sobre ventas, movimientos de stock y más para análisis y toma de decisiones.</p>
      </div>
      <a href="#" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 text-center">Crear Reportes</a>
    </div>
  </section>
</div>
